[submodule "modules/simdjson"]
	path = modules/simdjson
	url = git@github.com:simdjson/simdjson.git
[submodule "modules/zzzjson"]
	path = modules/zzzjson
	url = git@github.com:dacez/zzzjson.git
[submodule "modules/parson"]
	path = modules/parson
	url = git@github.com:kgabis/parson.git
[submodule "modules/cjson"]
	path = modules/cjson
	url = git@github.com:DaveGamble/cJSON.git
[submodule "modules/yyjson"]
	path = modules/yyjson
	url = git@github.com:ibireme/yyjson.git
[submodule "modules/memprofile"]
	path = modules/memprofile
	url = git@github.com:JCash/memprofile.git
[submodule "modules/centijson"]
	path = modules/centijson
	url = git@github.com:mity/centijson.git
[submodule "modules/jaxon"]
	path = modules/jaxon
	url = git@github.com:boudra/jaxon.git
[submodule "modules/libjson"]
	path = modules/libjson
	url = git@github.com:vincenthz/libjson.git
